* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/Images/bg.png);
  background-size: cover;
}
.logo {
  height: 29px;
  margin-top: 8px;
  margin-left: 15px;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #111111;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list {
  list-style-type: none;
  display: flex;
  margin: 5px 90px;
  margin-top: 11px;
}
.list > li {
  color: #ffffff;
  margin: 0 26px;
  font-family: "Poppins";
}
.button-small {
  margin-left: 220px;
  border: 1px solid transparent;
  padding: 8px 25px;
  border-radius: 3px;
  background-color: #7620ab;
  color: white;
  font-family: "Poppins";
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins";
}
.hero-heading {
  font-size: 60px;
  letter-spacing: 2.5px;
  margin-top: 100px;
}
.hero-description {
  font-size: 22px;
}
.button-large {
  border: 1px solid transparent;
  padding: 12px 28px;
  background-color: #8f21d3;
  border-radius: 3px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
